  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Busqueda</mat-label>
    <input matInput placeholder="Ej. Cuello" [(ngModel)]="searchTerm" (ngModelChange)="search()">
  </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Joints</mat-label>
      <mat-select [(ngModel)]="jointTerm" (ngModelChange)="search()" multiple>
        <mat-select-trigger>
          {{jointTerm?.[0]?.name || ''}}
          <span *ngIf="(jointTerm?.length || 0) > 1" class="example-additional-selection">
          (+{{(jointTerm.length || 0) - 1}} {{jointTerm.length === 2 ? 'otro' : 'otros'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let joint of joints" [value]="joint">{{joint.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tools</mat-label>
    <mat-select [(ngModel)]="toolTerm" (ngModelChange)="search()" multiple>
      <mat-select-trigger>
        {{toolTerm?.[0]?.name || ''}}
        <span *ngIf="(toolTerm?.length || 0) > 1" class="example-additional-selection">
          (+{{(toolTerm?.length || 0) - 1}} {{toolTerm?.length === 2 ? 'otro' : 'otros'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let tool of tools" [value]="tool">{{tool.name}}</mat-option>
    </mat-select>
  </mat-form-field>

<div class="list">
  <ng-container *ngFor="let exercise of exercises">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ exercise.name }}</mat-card-title>
        <mat-card-subtitle>{{ exercise.joint }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ exercise.img }}">
      <mat-card-content>
        <div class="content">
          <mat-chip-list>
            <ng-container *ngFor="let tool of exercise.tools">
              <mat-chip>{{ tool }}</mat-chip>
            </ng-container>
          </mat-chip-list>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="goToDetail(exercise.id)" mat-menu-item>
            <mat-icon >edit</mat-icon>
            <span>Editar</span>
          </button>
        </mat-menu>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
