.list{
  padding:2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    .card {
      min-width: 200px;
      min-height: 200px;
      margin: 2em;
      .content{
        min-height: 48px;
      }
      .mat-card-actions{
        display: flex;
        justify-content: end;
      }
  }

}

.full-width {
  width: 100%;
}

